.fotosLab {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-bottom: 40px; 
  background-color: #fff; 
  border-radius: 16px;
}
.fotosLab p{
  text-align: center;
  font-size: 21px;
  padding: 0 40px;
}

