.botonVerMas{
  align-items: center;
  background: #000;
  border-radius: 30px;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  font-weight: 400;
  justify-content: center;
  margin-top: 10px;
  padding: 8px 2px;
  transition: opacity 600ms ease;
  width: 125px;
  user-select: none;
  margin-right: 20px;
}
.botonVerMas:last-child{
  margin-right: 0;
}

.botonVerMas[disabled]{
  pointer-events: none;
  opacity: .2;
}
.botonVerMas:hover{
  opacity: .7;
}